<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Seja bem vindo</h1>
    <a href="/sair">Desconectar</a>
    <form action="criando/lista" method="post">
        {% csrf_token %}
        <input type="text", name="titulo", placeholder="Digite o nome da lista">
        <input type="submit", value="Adicionar">
        {{error}}
    </form>
    <hr>
    <div>
        {% for lista in listas %}
            <div style="display: flex; align-items: center; gap: 15px;">            
                <h1>{{lista.titulo}}</h1>
                <form action="deletando/lista" method="post">
                    {% csrf_token %}
                    <input style='display: none;'value={{lista.id}} name="id">
                    <button type="submit">Deletar lista</button>
                </form>
            </div>

            <form action="adicionando/lista" method="post">
                {% csrf_token %}
                <input style='display: none;'value={{lista.id}} name="id">
                <input type="texto" name="texto" placeholder="Adicione o item"/>
                <button type="submit">Adicionar</button>
            </form>
            {% for item in lista.items.all %}
                <div style="display: flex; align-items: center; gap: 15px;">        
                    <h3>{{item.texto}}</h3>
                    <form action="deletar/item" method="post">
                        {% csrf_token %}
                        <input style='display: none;'value={{item.id}} name="id">
                        <button type="submit">Deletar item</button>
                    </form>
                </div>
            {% endfor %}
        <hr>
        {% endfor %}
    </div>
</body>
</html>